@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Karla:wght@300;400;500;600;700&display=swap')

$white: #F6F5F6
$green: #00D158
$black: #2E2A28
$red: #FA6446
$blue: #0D4985

// MQ-sizes
	// desktop: 1600px -
	// tablet landscape: 1280px - 1600px
	// tablet portrait: 720px - 1280px
	// phone: - 720px

@mixin text-stroke($size, $col)
	-webkit-text-stroke-width: $size
	-webkit-text-stroke-color: $col


@mixin mq($min-width: 0, $max-width: 0)
	@if $max-width == 0
		@media screen and (min-width: $min-width)
			@content

	@else if $min-width == 0
		@media screen and  (max-width: $max-width)
			@content

	@else
		@media screen and (min-width: $min-width) and (max-width: $max-width)
			@content


*
	box-sizing: border-box


:root
	--sidebar-width: 22.5%
	--win-hm: 6rem
	--win-vm: 8rem
	
	+mq(720px, 1600px)
		--win-hm: 1.5rem
	
	+mq(0, 1280px)
		--sidebar-width: 0%
	
	+mq(0, 900px)
		--win-vm: 0rem
	
	+mq(0, 720px)
		--win-hm: 0rem

body
	background-color: $green
	margin: 0
	color: $white
	font-family: 'Karla', sans-serif
	display: flex

	main
		padding: 4rem 2rem
		+mq(0, 900px)
			padding: 0.5rem
		margin: 0
		width: calc(100% - var(--sidebar-width))
		height: 100vh

		h1
			margin: 0

$win-height: calc(100% - var(--win-vm))

@keyframes popup
	0%
		height: 0px
		margin-top: calc(25% - 3rem)
	100%
		height: $win-height
		margin-top: 0px
		
@keyframes popdown
	0%
		height: $win-height
		margin-top: 0px
	100%
		height: 0px
		margin-top: calc(25% - 3rem)

.window
	$top-radius: 20px
	$btm-radius: 6px
	height: 0px
	overflow: hidden
	font-family: 'Karla', sans-serif
	
	transition: all 0.3s
	
	&.inactive
		animation: popdown ease 0.33s normal forwards
	
	&.active
		animation: popup cubic-bezier(0.4, 0, 0.8, 1) 0.33s normal forwards

	.title-bar
		height: 3rem
		background-color: $black
		border-radius: $top-radius $top-radius 0 0
		display: flex
		justify-content: right

		button
			font-weight: bold
			background-color: transparent
			outline: none
			border: none
			color: $white
			margin: 0
			padding: 3px
			width: 3rem
			font-size: 30px
			cursor: pointer

			&.exit
				border-top-right-radius: $top-radius
				&:hover, &:focus
					background-color: $red
	
	.content
		padding: 1.5rem
		font-size: 24px
		
		+mq(0, 720px)
			font-size: 18px
			padding: 0.5rem
			
		color: $black
		background-color: $white
		height: calc(100% - 3rem)
		border-radius: 0 0 $btm-radius $btm-radius
		display: block
		clear: both

		h1
			margin: 0.5rem 0
		
		p
			margin-top: 0
			margin-bottom: 2rem
		
		img
			+mq(900px, 0)
				float: inline-end
			max-width: 40%
			max-height: calc(100% - 6rem)
			border-radius: 8px
			margin-left: 4rem
			margin-right: 2rem
			margin-top: 1.5rem
			
			+mq(900px, 1600px)
				margin-left: 2rem
				margin-right: 1rem
				margin-top: 1rem
				
			+mq(0, 900px)
				object-fit: cover
				margin: 0
				width: 100%
				max-width: 100%
				max-height: 30%

.tech-icons
	display: flex
	flex-wrap: wrap
	div
		svg
			height: 5rem
			width: 5rem
			object-fit: contain
			fill: $black
			// filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .3))
			transition: all 0.15s
			margin-right: 0.5rem
			
			// &:hover
			// 	fill: $green


.contact
	display: flex
	svg
		height: 5rem
		width: 5rem
		object-fit: contain
		fill: $black
		transition: all 0.15s
			
		&:hover
			fill: $green
			filter: drop-shadow( 0px 0px 8px rgba(135, 255, 155, .6))
		
	.mail svg
		fill: transparent
		stroke: $black
		
		&:hover
			stroke: $green

canvas
	position: absolute
	z-index: -10
	width: 100%
	height: 100%
	+mq(0, 1280px)
		width: 130%

.project-view
	$margin: 18px
	
	display: flex
	flex-wrap: wrap
	flex-direction: row
	height: calc(100% - $margin * 4 - 3rem)
	align-content: stretch
	
	.project-view-button
		padding: 0
		flex-basis: calc(30% - $margin * 2)
		flex-grow: 1.5
		max-height: 50%
		margin: $margin
		border: none
		cursor: pointer
		border-radius: 16px
		background: black
		opacity: 100%
		
		&:hover, &:focus
			margin: 0
			max-height: calc(50% + $margin * 2)
			opacity: 60%
		
		img
			width: 100%
			height: 100%
			margin: 0
			padding: 0
			max-height: 100%
			max-width: 100%
			object-fit: cover
			border-radius: 16px
			
		transition: all 0.2s

.brand
	display: block
	background-color: $black
	border-radius: 100rem
	padding: 0.5rem 0
	width: fit-content
	max-width: 90%
	margin: 0 auto
	margin-bottom: 2rem
	
	+mq(900px, 1600px)
		max-width: 100%
		
	+mq(0, 900px)
		display: none

	h1
		text-align: center
		font-size: 52px
		+mq(0, 1600px)
			font-size: 48px
		
		color: $black
		+text-stroke(2px, $white)
		margin: 0 3rem

		font-family: 'Carter One', sans-serif


.external-links a
	border-radius: 6px
	padding: 4px 8px
	font-weight: bold
	text-decoration: none
	background-color: $white
	border: 2px solid $blue
	color: $blue
	
	&:hover
		color: $white
		background-color: $blue
	
	transition: all 0.2s


@mixin project-item($img-url)
	padding: 8px
	background-image: url(#{$img-url}.svg)
	
	&:hover, &.current, &:focus-within
		background-image: url(#{$img-url}_Selected.svg)
		
	&.current
		background-color: $green

	button
		font-size: 0

.active-window ~ aside
	+mq(0, 1280px)
		top: 100vh

aside
	position: fixed
	top: 0
	right: 0
	color: $black
	background-color: $white
	width: var(--sidebar-width)
	height: 100vh
	overflow: hidden
	
	transition: top 0.4s
	
	+mq(0, 1280px)
		height: 100vh
		width: 100%
		
	#nav
		// @media screen and (min-height: 900px)
		+mq(720px, 1280px)
			margin-top: 10vh

	li, ul
		list-style-type: none

	.break
		margin: 0 auto
		width: 70%
		height: 0px
		border-bottom: 2px solid $black

	#projects
		display: flex
		flex-wrap: wrap
		width: 80%
		margin: 0 auto

		ul
			border-radius: 50%
			aspect-ratio: 1/1
			width: 50%
			max-width: 150px
			+mq(0, 720px)
				max-width: 125px
			
			background-size: 80%
			background-repeat: no-repeat
			background-position: center
			margin: 1rem auto
			// border-radius: 
			border: none
			background-color: transparent

			button
				height: 100%
				width: 100%

		#windows
			+project-item("icons/Windows")
		
		#apple
			+project-item("icons/Apple")
		
		#wordle
			+project-item("icons/Wordle")
		
		#dt
			+project-item("icons/Tree")
		
		#claire
			+project-item("icons/Claire")

	ul
		&:not(.current)
			cursor: pointer
		
		text-align: center
		width: 70%
		padding: 16px 16px
		margin: 2rem auto
		border-radius: 20rem
		border: 2px solid $white
		font-weight: 400

		button
			cursor: inherit
				
			background-color: #00000000
			font-size: 44px
			border: none
			font-weight: inherit
			+mq(1280px, 1600px)
				font-size: 32px
			+mq(0, 720px)
				font-size: 32px

			&:focus
				border-radius: 4px
				outline: none

		transition: background-color .3s, border .3s, font-weight .15s, box-shadow .25s		


		&:hover, &:focus-within
			border: 2px solid $black
			// color: $white
			// font-weight: 700
		
		&.current
			box-shadow: none
			font-weight: 700
			background-color: $black
			button
				color: $white
			border: 2px solid $black

#dani
	background-color: #315539
	border-radius: 6rem

