@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Karla:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --sidebar-width: 22.5%;
  --win-hm: 6rem;
  --win-vm: 8rem;
}
@media screen and (min-width: 720px) and (max-width: 1600px) {
  :root {
    --win-hm: 1.5rem;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --sidebar-width: 0%;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --win-vm: 0rem;
  }
}
@media screen and (max-width: 720px) {
  :root {
    --win-hm: 0rem;
  }
}

body {
  background-color: #00D158;
  margin: 0;
  color: #F6F5F6;
  font-family: "Karla", sans-serif;
  display: flex;
  overflow: hidden;
}
body main {
  padding: 4rem 2rem;
  margin: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
}
@media screen and (max-width: 900px) {
  body main {
    padding: 0.5rem;
  }
}
body main h1 {
  margin: 0;
}

@keyframes popup {
  0% {
    height: 0px;
    margin-top: calc(25% - 3rem);
  }
  100% {
    height: calc(100% - var(--win-vm));
    margin-top: 0px;
  }
}
@keyframes popdown {
  0% {
    height: calc(100% - var(--win-vm));
    margin-top: 0px;
  }
  100% {
    height: 0px;
    margin-top: calc(25% - 3rem);
  }
}
.window {
  height: 0px;
  overflow: hidden;
  font-family: "Karla", sans-serif;
  transition: all 0.3s;
}
.window.inactive {
  animation: popdown ease 0.33s normal forwards;
}
.window.active {
  animation: popup cubic-bezier(0.4, 0, 0.8, 1) 0.33s normal forwards;
}
.window .title-bar {
  height: 3rem;
  background-color: #2E2A28;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: right;
}
.window .title-bar button {
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  color: #F6F5F6;
  margin: 0;
  padding: 3px;
  width: 3rem;
  font-size: 30px;
  cursor: pointer;
}
.window .title-bar button.exit {
  border-top-right-radius: 20px;
}
.window .title-bar button.exit:hover, .window .title-bar button.exit:focus {
  background-color: #FA6446;
}
.window .content {
  padding: 1.5rem;
  font-size: 24px;
  color: #2E2A28;
  background-color: #F6F5F6;
  height: calc(100% - 3rem);
  border-radius: 0 0 6px 6px;
  display: block;
  clear: both;
}
@media screen and (max-width: 720px) {
  .window .content {
    font-size: 18px;
    padding: 0.5rem;
  }
}
.window .content h1 {
  margin: 0.5rem 0;
}
.window .content p {
  margin-top: 0;
  margin-bottom: 2rem;
}
.window .content img {
  max-width: 40%;
  max-height: calc(100% - 6rem);
  border-radius: 8px;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 900px) {
  .window .content img {
    float: inline-end;
  }
}
@media screen and (min-width: 900px) and (max-width: 1600px) {
  .window .content img {
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .window .content img {
    object-fit: cover;
    margin: 0;
    width: 100%;
    max-width: 100%;
    max-height: 30%;
  }
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
}
.tech-icons div svg {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  fill: #2E2A28;
  transition: all 0.15s;
  margin-right: 0.5rem;
}
@media screen and (max-width: 720px) {
  .tech-icons div svg {
    height: 4.25rem;
    width: 4.25rem;
  }
}

.contact {
  display: flex;
}
.contact svg {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  fill: #2E2A28;
  transition: all 0.15s;
}
.contact svg:hover {
  fill: #00D158;
  filter: drop-shadow(0px 0px 8px rgba(135, 255, 155, 0.6));
}
.contact .mail svg {
  fill: transparent;
  stroke: #2E2A28;
}
.contact .mail svg:hover {
  stroke: #00D158;
}

canvas {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1280px) {
  canvas {
    width: 133%;
  }
}

.project-view {
  --margin: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: calc(100% - var(--margin) * 2 - 3rem);
  align-content: stretch;
}
@media screen and (max-width: 900px) {
  .project-view {
    --margin: 10px;
  }
}
@media screen and (max-width: 900px) {
  .project-view {
    height: calc(100% - var(--margin) * 2 - 1rem);
  }
}
.project-view .project-view-button {
  padding: 0;
  flex-basis: calc(30% - var(--margin) * 2);
  max-height: 50%;
  flex-grow: 1.5;
  margin: var(--margin);
  border: none;
  cursor: pointer;
  border-radius: 16px;
  background: black;
  opacity: 100%;
  transition: all 0.2s;
}
@media screen and (max-width: 720px) {
  .project-view .project-view-button {
    flex-basis: calc(46% - var(--margin) * 2);
    max-height: 32%;
  }
}
.project-view .project-view-button:hover, .project-view .project-view-button:focus {
  margin: 0;
  max-height: calc(50% + var(--margin) * 2);
  opacity: 60%;
}
.project-view .project-view-button img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.brand {
  display: block;
  background-color: #2E2A28;
  border-radius: 100rem;
  padding: 0.5rem 0;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) and (max-width: 1600px) {
  .brand {
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .brand {
    display: none;
  }
}
.brand h1 {
  text-align: center;
  font-size: 52px;
  color: #2E2A28;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F6F5F6;
  margin: 0 3rem;
  font-family: "Carter One", sans-serif;
}
@media screen and (max-width: 1600px) {
  .brand h1 {
    font-size: 48px;
  }
}

.external-links a {
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  text-decoration: none;
  background-color: #F6F5F6;
  border: 2px solid #0D4985;
  color: #0D4985;
  transition: all 0.2s;
}
.external-links a:hover {
  color: #F6F5F6;
  background-color: #0D4985;
}

@media screen and (max-width: 1280px) {
  .active-window ~ aside {
    top: 100vh;
  }
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  color: #2E2A28;
  background-color: #F6F5F6;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  transition: top 0.4s;
}
@media screen and (max-width: 1280px) {
  aside {
    height: 100vh;
    width: 100%;
    background-color: rgba(246, 245, 246, 0.831372549);
  }
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  aside #nav {
    margin-top: 10vh;
  }
}
aside li, aside ul {
  list-style-type: none;
}
aside .break {
  margin: 0 auto;
  width: 70%;
  height: 0px;
  border-bottom: 2px solid #2E2A28;
}
aside #projects {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
aside #projects ul {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 45%;
  max-width: 150px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem auto;
  background-color: transparent;
}
@media screen and (max-width: 720px) {
  aside #projects ul {
    max-width: 125px;
  }
}
aside #projects ul:hover, aside #projects ul:focus-within, aside #projects ul.current {
  border: solid 2px #00D158;
}
aside #projects ul button {
  height: 100%;
  width: 100%;
}
aside #projects #windows {
  padding: 8px;
  background-image: url(icons/Windows.svg);
}
aside #projects #windows:hover, aside #projects #windows.current, aside #projects #windows:focus-within {
  background-image: url(icons/Windows_Selected.svg);
}
aside #projects #windows.current {
  background-color: #00D158;
}
aside #projects #windows button {
  font-size: 0;
}
aside #projects #apple {
  padding: 8px;
  background-image: url(icons/Apple.svg);
}
aside #projects #apple:hover, aside #projects #apple.current, aside #projects #apple:focus-within {
  background-image: url(icons/Apple_Selected.svg);
}
aside #projects #apple.current {
  background-color: #00D158;
}
aside #projects #apple button {
  font-size: 0;
}
aside #projects #wordle {
  padding: 8px;
  background-image: url(icons/Wordle.svg);
}
aside #projects #wordle:hover, aside #projects #wordle.current, aside #projects #wordle:focus-within {
  background-image: url(icons/Wordle_Selected.svg);
}
aside #projects #wordle.current {
  background-color: #00D158;
}
aside #projects #wordle button {
  font-size: 0;
}
aside #projects #dt {
  padding: 8px;
  background-image: url(icons/Tree.svg);
}
aside #projects #dt:hover, aside #projects #dt.current, aside #projects #dt:focus-within {
  background-image: url(icons/Tree_Selected.svg);
}
aside #projects #dt.current {
  background-color: #00D158;
}
aside #projects #dt button {
  font-size: 0;
}
aside #projects #claire {
  padding: 8px;
  background-image: url(icons/Claire.svg);
}
aside #projects #claire:hover, aside #projects #claire.current, aside #projects #claire:focus-within {
  background-image: url(icons/Claire_Selected.svg);
}
aside #projects #claire.current {
  background-color: #00D158;
}
aside #projects #claire button {
  font-size: 0;
}
aside ul {
  text-align: center;
  width: 70%;
  padding: 16px 16px;
  margin: 2rem auto;
  border-radius: 20rem;
  border: 2px solid transparent;
  font-weight: 400;
  transition: background-color 0.3s, border 0.3s, font-weight 0.15s, box-shadow 0.25s;
}
aside ul:not(.current) {
  cursor: pointer;
}
aside ul button {
  cursor: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 44px;
  border: none;
  font-weight: inherit;
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
  aside ul button {
    font-size: 32px;
  }
}
@media screen and (max-width: 720px) {
  aside ul button {
    font-size: 32px;
  }
}
aside ul button:focus {
  border-radius: 4px;
  outline: none;
}
aside ul:hover, aside ul:focus-within {
  border: 2px solid #2E2A28;
}
aside ul.current {
  box-shadow: none;
  font-weight: 700;
  background-color: #2E2A28;
  border: 2px solid #2E2A28;
}
aside ul.current button {
  color: #F6F5F6;
}

#dani {
  background-color: #315539;
  border-radius: 6rem;
}

/*# sourceMappingURL=style.css.map */
