@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Karla:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --sidebar-width: 22.5%;
}

body {
  background-color: black;
  margin: 0;
  color: #F6F5F6;
  font-family: "Karla", sans-serif;
  display: flex;
}
body main {
  padding: 4rem 2rem;
  background-color: #00D158;
  margin: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
}
body main h1 {
  margin: 0;
}

@keyframes popup {
  0% {
    margin-top: calc(100% - 50vh);
    margin-left: calc(50% - 6rem);
    height: 0px;
    width: 0px;
  }
  40% {
    width: calc(10% - 1rem);
    margin-left: calc(45% - 0.5rem);
  }
  90% {
    height: calc(100% - 12rem);
  }
  100% {
    margin-top: 0;
    width: calc(100% - 12rem);
    height: calc(100% - 12rem);
    margin-left: 6rem;
  }
}
@keyframes popdown {
  0% {
    height: calc(100% - 12rem);
    margin-top: 0px;
  }
  100% {
    height: 0px;
    margin-top: calc(25% - 3rem);
  }
}
.window {
  margin: 0 6rem;
  height: 0px;
  overflow: hidden;
  font-family: "Karla", sans-serif;
}
.window.inactive {
  animation: popdown ease 0.33s normal forwards;
}
.window.active {
  animation: popup cubic-bezier(0.4, 0, 0.8, 1) 0.5s normal forwards;
}
.window .title-bar {
  height: 3rem;
  background-color: #2E2A28;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: right;
}
.window .title-bar button {
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  color: #F6F5F6;
  margin: 0;
  padding: 3px;
  width: 3rem;
  font-size: 30px;
  cursor: pointer;
}
.window .title-bar button:hover {
  background-color: #F6F5F6;
  color: #2E2A28;
}
.window .title-bar button.exit {
  border-top-right-radius: 20px;
}
.window .title-bar button.exit:hover {
  background-color: #FA6446;
}
.window .content {
  padding: 1.5rem;
  color: #2E2A28;
  font-size: 24px;
  background-color: #F6F5F6;
  height: 100%;
  border-radius: 0 0 6px 6px;
}
.window .content h1 {
  margin: 0.5rem 0;
}
.window .content p {
  margin-top: 0;
  margin-bottom: 2rem;
}
.window .content img {
  float: right;
  max-width: 40%;
  border-radius: 8px;
  margin-left: 4rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.brand {
  display: block;
  background-color: #2E2A28;
  border-radius: 100rem;
  padding: 0.5rem 0;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.brand h1 {
  text-align: center;
  font-size: 52px;
  color: #2E2A28;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F6F5F6;
  margin: 0 3rem;
  font-family: "Carter One", sans-serif;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  color: #2E2A28;
  background-color: #F6F5F6;
  width: var(--sidebar-width);
  height: 100vh;
}
aside li, aside ul {
  list-style-type: none;
}
aside .break {
  margin: 0 auto;
  width: 70%;
  height: 0px;
  border-bottom: 2px solid #2E2A28;
}
aside #projects {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
aside #projects ul {
  width: 120px;
  height: 120px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem auto;
  border: none;
  background-color: transparent;
}
aside #projects ul button {
  height: 100%;
  width: 100%;
}
aside #projects #windows {
  padding: 8px;
  background-image: url(icons/Windows.png);
}
aside #projects #windows:hover, aside #projects #windows.current, aside #projects #windows:focus-within {
  background-image: url(icons/Windows_Selected.png);
}
aside #projects #windows.current {
  background-color: #00D158;
}
aside #projects #windows button {
  font-size: 0;
}
aside #projects #apple {
  padding: 8px;
  background-image: url(icons/Apple.png);
}
aside #projects #apple:hover, aside #projects #apple.current, aside #projects #apple:focus-within {
  background-image: url(icons/Apple_Selected.png);
}
aside #projects #apple.current {
  background-color: #00D158;
}
aside #projects #apple button {
  font-size: 0;
}
aside #projects #wordle {
  padding: 8px;
  background-image: url(icons/Wordle.png);
}
aside #projects #wordle:hover, aside #projects #wordle.current, aside #projects #wordle:focus-within {
  background-image: url(icons/Wordle_Selected.png);
}
aside #projects #wordle.current {
  background-color: #00D158;
}
aside #projects #wordle button {
  font-size: 0;
}
aside #projects #dt {
  padding: 8px;
  background-image: url(icons/Tree.png);
}
aside #projects #dt:hover, aside #projects #dt.current, aside #projects #dt:focus-within {
  background-image: url(icons/Tree_Selected.png);
}
aside #projects #dt.current {
  background-color: #00D158;
}
aside #projects #dt button {
  font-size: 0;
}
aside #projects #claire {
  padding: 8px;
  background-image: url(icons/Claire.png);
}
aside #projects #claire:hover, aside #projects #claire.current, aside #projects #claire:focus-within {
  background-image: url(icons/Claire_Selected.png);
}
aside #projects #claire.current {
  background-color: #00D158;
}
aside #projects #claire button {
  font-size: 0;
}
aside ul {
  text-align: center;
  width: 70%;
  padding: 16px 16px;
  margin: 2rem auto;
  border-radius: 64px;
  border: 2px solid #F6F5F6;
  font-weight: 400;
  transition: background-color 0.3s, border 0.3s, font-weight 0.15s, box-shadow 0.25s;
}
aside ul:not(.current) {
  cursor: pointer;
}
aside ul button {
  cursor: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 44px;
  border: none;
  font-weight: inherit;
}
aside ul button:focus {
  border-radius: 4px;
  outline: none;
}
aside ul:hover, aside ul:focus-within {
  border: 2px solid #2E2A28;
}
aside ul.current {
  box-shadow: none;
  font-weight: 700;
  background-color: #2E2A28;
  border: 2px solid #2E2A28;
}
aside ul.current button {
  color: #F6F5F6;
}

/*# sourceMappingURL=style.css.map */
